
%p= announcement.title
%p= announcement.content

.buttons	
	= link_to "Edit", edit_course_announcement_path(announcement.course, announcement)
	= link_to "Delete", [announcement.course, announcement], method: :delete, data: {confirm: "Are you sure?"}
